:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #3d3d3d;
  background-color: #fefefe;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.pay__container {
  display: grid;
  place-items: center;
  padding: 32px 16px;
}

.pay__business {
  display: grid;
  place-items: center;
  margin-bottom: 30%;
}

.pay__header {
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  max-width: 80%;
  margin-bottom: 2rem;
}

.business__avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  background-color: #fde890;
}

.business__name {
  margin-top: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.disclaimer {
  margin-top: 15vh;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #b1b1b1;
  margin-bottom: 1.5rem;
  max-width: 50%;
}
.disclaimer__link {
  color: #007de8;
}

.pay__actions {
  width: 100%;
  row-gap: 1.5rem;
}

.grid-center {
  display: grid;
  place-items: center;
}

button {
  background: #007de8;
  border-radius: 40px;
  color: #fefefe;
  border: 1px solid transparent;
  padding: 17px 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 100%;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
